<!-- <div class="navbar navbar-default">
  <div class="container">
    <div id="navbar-main">
      <ul class="nav navbar-nav">
        <li><a href="/#/">Regression Calculator</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#/">Home</a></li>
        <li><a href="/#/register">Register</a></li>
        <li ng-show = "true"><a href="/#/login">Sign in</a></li>
        <li ng-controller="logoutController"><a ng-click='logout()'>Log out</a></li>
        <li><a href="profile">{{ navvm.currentUser.name }}</a></li>
      </ul>
    </div>
  </div>
</div> -->

<div class="ui inverted menu">
  <a class="item" href="/#/">Regression Calculator</a>
  <div class="right menu">
    <a class="active item" href="/#/">Home</a>
    <a class="item" href="/#/register">Register</a>
    <a ng-show = "false" class="item" href="/#/login">Sign in</a>
    <a class="item" ng-controller="logoutController" ng-click='logout()'>Log out</a>
    <li ng-controller="logoutController"><a ng-click='logout()'>Log out</a></li>
    <a href="profile">{{ navvm.currentUser.name }}</a>
  </div>
</div>


  <div class="banner">
    <img class="banner-image" src="/images/tt.jpg">
  </div>

  <ul class="function">
    <li>Data1</li>
    <li>Data2</li>
  </ul>

  <div class="f">
    <input type="file" >
    <input type="file"  >
  </div>

  <button class = "ui button">
    click <menu>
    </button>
    </menu>
  <div class ='form1'>
    <form action = '/loha' method = 'GET'>
      <div class = 'butt'>
        <input type="image" src="/images/w.jpg" alt="Submit Form" >
      </div>
    </form>
  </div>

  <div class="ger">
    generate
  </div>
