<!Doctype html>
<html>
<head>
	<title>
		Regression calculator
	</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/index.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>
<body>

	<div class="ui inverted menu">
		<a class="item" href="/">Regression Calculator</a>
		<div class="right menu">
			<a class= "active item" href="/">Home</a>
			<a class = "item" href="/signup">Register</a>
			<a class = "item" href="/login">Sign in</a>
			<li ng-controller="logoutController"><a ng-click='logout()'>Log out</a></li>
			<a href="profile">{{ navvm.currentUser.name }}</a>
		</div>
	</div>

	<div class="banner">
		<img class="banner-image" src="/images/tt.jpg">
	</div>
	<ul class="function">


	<li>Data1</li>
	<li>Data2</li>


	</ul>
	<div class="f">
		<input type="file" >
	    <input type="file"  >


	</div>
	<div class ='form1'>
	<form action = '/loha' method = 'GET'>
		<div class = 'butt'>
    <input type="image" src="/images/w.jpg" alt="Submit Form" >
		<!-- <button type=submit style="background: #ccc url(/images/w.jpg);">GENERATE</button> -->
		</div>
	</form>

	</div>
    <div class="ger">
    	generate
    </div>



</body>


</html>
