html, body {
    margin: 0;
    padding: 0;
}

.head {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width : 100%;
  height: 80px;
  text-align: center;
  font-size: 30px;
  color: black;
  background-color: white;

}

.editor{
  position: absolute;
  left: 700px;
  top: 400px;
  z-index: 2;
  display: none;
  border: 3px solid black;
  width: 200px;
  height: 400px;
}

.fonts{
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  color: black;
}
.container{
  background-color: #cccccc;
  width: 100%;
  height: 1900px;
  border-bottom: 1.2px solid black
}
.circle{
  background-image: '/images/circle.jpg';
  /* width: 30px; */
  /* height:10px; */
}

.col2>span{
  /*display: flex;*/
  font-size: 10px;
  /*width: 300px;*/
}


#close_image1{
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 10px; 
}

#close_image2{
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 10px; 
}

#close_image3{
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 10px; 
}

#close_image4{
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 10px; 
}


.button {
    background-color: #333333;
    border: 1px solid #ffcccc;
    border-radius: 10%;
    color: white;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

    margin: 1px;
    cursor: pointer;
}

.nametag{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  border: 1px black;
  /* width : 100%; */
  display: none;

  
}


.button2 {
    background-color: #00008B;
    border: 1px solid #ffcccc;
    border-radius: 10%;
    color: white;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

    margin: 1px;
    cursor: pointer;
}

.button3  {
    background-color: #843000;
    border: 1px solid #ffcccc;
    border-radius: 10%;
    color: white;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

    margin: 1px;
    cursor: pointer;
}


.choose{
  font-size: 15px;
  margin-right: 15px;
  /* margin-bottom: 100px; */
  padding: 0px;
  color:#00008B;
}

.choose:hover{
  text-decoration: underline;
}



.paper{
  height: 1600px;
  width: 100%;

}

.col3{
  height:1600px;
  width: 100%;
  float:left;
  z-index: 1;
}
/* .col4{
  height:1600px;
  width: 44%;
  float:left;
  border-left: 2px solid #505051;
  white-space: pre-wrap;
  /*border-right: 2px solid #505051;*/


.footer {
  background-color: white;
  width: 100%;
  height: 200px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  color: black;
}

.col{
  width : 100%;
  height: 300px;
  border-bottom: 2px solid #505051;
  background-color: #EAE7E0
}
.col1{
  width: 50%;
  height: 300px;
  float: left;
}
.col2{
  width: 50%;
  height: 300px;
  float: left;
  /*vertical-align: bottom;*/

  background-image: url('/images/hello.jpg');
  background-size: 100% 300px;
  /*display: inline-block;*/
  text-align: bottom;
  font-size: 18px;
  color: black;

}
.iknow{

  vertical-align: bottom;
}
.col2 span {
   position: absolute;
   top:200px;
   right:500px;
}
