html, body {
    margin: 0;
    padding: 0;
}

.head {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width : 100%;
  height: 80px;
  text-align: center;
  font-size: 30px;
  color: black;
  background-color: white;

}

.editor{
  position: absolute;
  left: 700px;
  top: 400px;
  z-index: 2;
  display: none;
  border: 3px dashed black;
  color: darkblue;
  background-color: none;
  cursor: pointer;
  font-size: 14px;
  width: 230px;
  height: 450px;
}

.fonts{
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  color: black;
}
.container{
  background-color: #cccccc;
  width: 100%;
  height: 1900px;
  border-bottom: 1.2px solid black
}
.circle{
  background-image: '/images/circle.jpg';
  /* width: 30px; */
  /* height:10px; */
}

.col2>span{
  /*display: flex;*/
  font-size: 10px;
  /*width: 300px;*/
}


#close_image1{
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 10px; 
}

#close_image2{
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 10px; 
}

/* .slider {
  -webkit-appearance: none;
  height: 2px;
  background: black;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 3px;
  height: 8px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 3px;
  height: 8px;
  background: #4CAF50;
  cursor: pointer;
} */

#close_image3{
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 10px; 
}

#close_image4{
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 10px; 
}

#close_image5{
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 10px; 
}

#close_image6{
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 10px; 
}

#close_image7{
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 10px; 
}

#close_image8{
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 10px; 
}

#close_image9{
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 10px; 
}

#close_image10{
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 10px; 
}


.button {
    background-color: #333333;
    border: 1px solid #ffcccc;
    border-radius: 10%;
    color: white;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

    margin: 1px;
    cursor: pointer;
}

.nametag{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  border: 1px black;
  /* width : 100%; */
  display: none;  
}


.cell_editor{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 4;
  border: dashed 3px black;
  font-size: 14px;
  background-color: #F1F3F3 ;
  color: darkblue;
  /* width : 100%; */
  display: none;
  width: 220px;

}


.button2 {
    background-color: #00008B;
    border: 1px solid #ffcccc;
    border-radius: 10%;
    color: white;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

    margin: 1px;
    cursor: pointer;
}

.button3  {
    background-color: #843000;
    border: 1px solid #ffcccc;
    border-radius: 10%;
    color: white;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

    margin: 1px;
    cursor: pointer;
}


.choose{
  font-size: 15px;
  margin-right: 15px;
  /* margin-bottom: 100px; */
  padding: 0px;
  color:#00008B;
}

.choose:hover{
  text-decoration: underline;
}



.paper{
  height: 1600px;
  width: 100%;

}

.col3{
  height:1600px;
  width: 100%;
  float:left;
  z-index: 1;
}
/* .col4{
  height:1600px;
  width: 44%;
  float:left;
  border-left: 2px solid #505051;
  white-space: pre-wrap;
  /*border-right: 2px solid #505051;*/


.footer {
  background-color: white;
  width: 100%;
  height: 200px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  color: black;
}

.col{
  width : 100%;
  height: 360px;
  border-bottom: 2px solid #505051;
  background-color: #EAE7E0
}
.col1{
  width: 50%;
  height: 340px;
  float: left;
}
.col2{
  width: 50%;
  height: 340px;
  float: left;
  /*vertical-align: bottom;*/

  background-image: url('/images/hello.jpg');
  background-size: 100% 340px;
  /*display: inline-block;*/
  text-align: bottom;
  font-size: 18px;
  color: black;

}
.iknow{

  vertical-align: bottom;
}
.col2 span {
   position: absolute;
   top:200px;
   right:500px;
}



.textbox{
  display: block;
}


.slider{
  display: block;
}