body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.lucas {
  padding: 0;
  margin: 0;
  background-color: lightblue;
  border-top: 2px solid ;
  border-bottom: 2px solid ;
  border-right: 2px solid ;
  border-left: 2px solid ;
  text-align: center;
}

.kuangluo {
  padding: 0;
  margin: 0;
  background-color: lightgreen;
}
